:root,
:host {
    --sys-background: #f7f9ff;
    --sys-on-background: #181c20;
    --sys-surface: #f7f9ff;
    --sys-surface-dim: #d8dadf;
    --sys-surface-bright: #f7f9ff;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f1f4f9;
    --sys-surface-container: #eceef3;
    --sys-surface-container-high: #e6e8ee;
    --sys-surface-container-highest: #e0e2e8;
    --sys-on-surface: #181c20;
    --sys-surface-variant: #e3e1ec;
    --sys-on-surface-variant: #45464f;
    --sys-inverse-surface: #2d3135;
    --sys-inverse-on-surface: #eef1f6;
    --sys-outline: #767680;
    --sys-outline-variant: #c6c5d0;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #4d5c92;
    --sys-primary: #0033A1;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #dce1ff;
    --sys-on-primary-container: #04164b;
    --sys-inverse-primary: #b6c4ff;
    --sys-secondary: #4e5b92;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #dde1ff;
    --sys-on-secondary-container: #05164b;
    --sys-tertiary: #804d79;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffd7f5;
    --sys-on-tertiary-container: #340832;
    --sys-error: #8f4a4e;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdada;
    --sys-on-error-container: #3b080f;
    --sys-neutral: #74777c;
    --sys-neutral-variant: #767680;
    --sys-primary-fixed: #dce1ff;
    --sys-primary-fixed-dim: #b6c4ff;
    --sys-on-primary-fixed: #04164b;
    --sys-on-primary-fixed-variant: #354479;
    --sys-secondary-fixed: #dde1ff;
    --sys-secondary-fixed-dim: #b7c4ff;
    --sys-on-secondary-fixed: #05164b;
    --sys-on-secondary-fixed-variant: #364479;
    --sys-tertiary-fixed: #ffd7f5;
    --sys-tertiary-fixed-dim: #f1b3e6;
    --sys-on-tertiary-fixed: #340832;
    --sys-on-tertiary-fixed-variant: #663560;
    --sys-inverse-secondary: #b7c4ff;
    --sys-inverse-tertiary: #f1b3e6;
    --sys-inverse-error: #ffb3b5;
    --sys-error-fixed: #ffdada;
    --sys-error-fixed-dim: #ffb3b5;
    --sys-on-error-fixed: #3b080f;
    --sys-on-error-fixed-variant: #733337;
}