$primary: (
    50: #e8eaf9,
    100: #c4caf0,
    200: #9ca8e6,
    300: #7286dc,
    400: #506bd5,
    500: #2850cc,
    600: #2148c2,
    700: #133db6,
    800: #0033aa,
    900: #001f97,
    A100: #5e24c4,
    A200: #4f1bbb,
    A400: #4014b5,
    A700: #2200aa,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$accent: (
    50: #e8eaf5,
    100: #c5cbe6,
    200: #9fa9d4,
    300: #7a87c3,
    400: #5e6db7,
    500: #4254ab,
    600: #3c4ca1,
    700: #334295,
    800: #2b3889,
    900: #1f2773,
    A100: #5e24c4,
    A200: #4f1bbb,
    A400: #4014b5,
    A700: #2200aa,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

$warn: (
    50: #ffd8b1,
    100: #ffb397,
    200: #ed8e74,
    300: #c9694d,
    400: #af4c32,
    500: #952f17,
    600: #892513,
    700: #78170b,
    800: #690005,
    900: #580000,
    A100: #ffffff,
    A200: #ffe5e2,
    A400: #ffb7af,
    A700: #ffa096,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$dark-accent: (
    50: #faf8fd,
    100: #f3f2f6,
    200: #eae9ed,
    300: #dbd9dd,
    400: #b7b5ba,
    500: #97969a,
    600: #6f6d71,
    700: #5b5a5d,
    800: #3c3b3f,
    900: #1c1b1e,
    A100: #716d71,
    A200: #5d5a5d,
    A400: #3e3b3f,
    A700: #1d1b1e,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);