<div class="grid-container">
    <div class="container">
        <div class="input-container">
            <h1 class="logout-title">Melita</h1>
            <div class="logout-items">
                <h1 class="logout-subtitle">Your session has ended</h1>
                <div class="logout-button-row">
                    <button mat-raised-button class="login-button" routerLink="/app">
                        Login Again
                        <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>